<!-- About Section -->
<section class="success" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>About</h2>
                <hr class="star-light">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4">
                <p>I have a robust background in public relations with over four years experience spanning agency, third sector and in-house roles. During this time I have forged a multitude of strong relationships with key influencers, across an eclectic range of media outlets.</p>
            </div>
            <div class="col-lg-4">
                <p>Proficient in the planning and implementation of campaigns for both B2B and B2C clients, my approach to PR blends strategic insight with creativity to deliver tangible results. I am a passionate storyteller through any medium, securing headlines in print, online and with broadcast.</p>
            </div>
            <div class="col-lg-4">
              <p> Eager to enhance best practice in PR, I frequently guest lecture at the University of Greenwich, encouraging the impactful use of communications as part of a wider business strategy.</p>
            </div>
        </div>
    </div>
</section>
