<!-- Contact Section -->
    <section id="cv">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading-primary">My CV</h2>
                    <hr class="star-primary">
                </div>
            </div>

            <div class="row cv-container">
                <div class="col-xs-12">
                  <h3> Lydia Barrett - MA, BSc Hons </h3>
                  <h4> Public Relations Manager </h4>
                  <h4><a href="mailto:lydiajanebarrett@gmail.com">lydiajanebarrett@gmail.com</a></h4>

                  <h4 class="sub-heading"> Experience </h4>
									<hr>
									
									<div class="row">
                    <div class="col-xs-12"><h4 class="sub-heading">PR Manager EMEA, Brandwatch, Brighton, UK</h4></div>
                    <div class="col-xs-12"><h5> July 2017 - Present </h5></div>
                    <div class="col-xs-12">
                      <ul>
                        <li>A strategic and data-driven approach to PR planning and implementation.</li>
                        <li>Experience working within an international setting.</li>
                        <li>Overseeing campaigns to reach targeted audiences.</li>
                        <li>Comprehensive use of the Brandwatch platform.</li>
                        <li>Placement of both B2B and B2C pieces including: BBC, Forbes, The Guardian, New York Times, TechCrunch, Marketing Week, PR Week, Digiday.</li>
                        <li>128 pieces of coverage published within the first 6 months at this position.</li>
                      </ul>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12"><h4 class="sub-heading">PR &amp; Communications Manager, Flubit Ltd, London, UK</h4></div>
                    <div class="col-xs-12"><h5> August 2016 – July 2017 </h5></div>
                    <div class="col-xs-12">
                      <ul>
                        <li>Single handedly planning and implementing B2C, B2B and internal communication strategies.</li>
                        <li>Working alongside marketing to align brand aesthetic and key messaging.</li>
                        <li>Delivery of B2B/B2C coverage. Placements of note include: The Gadget Show, The Sun, The Telegraph and British Airways Business Life.</li>
                        <li>Sourcing relevant media outlets, key journalists and influencers.</li>
                        <li>Working with external content writers and advising internal content strategy.</li>
                        <li>Leveraging Google Analytics and company data to determine effective delivery and focus.</li>
                        <li>Forging long-term relationships with key members of the press.</li>
                        <li>Over 60 pieces of coverage in total during my tenure.</li>
                      </ul>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12"><h4 class="sub-heading">Account Executive, PHA Media, London, UK</h4></div>
                    <div class="col-xs-12"><h5> September 2014 – August 2016 </h5></div>
                    <div class="col-xs-12">
                      <ul>
                        <li>Providing PR strategy tailored to individual stakeholder requirements.</li>
                        <li>Sole responsibility of Chilly Powder account. Secured articles in: The Times, Stylist Arabia and Women’s Fitness.</li>
                        <li>Client facing across all accounts including: Crystal Palace FC, Xercise4Less and Richard Thompson.</li>
                        <li>Securement of coverage across various online, print and broadcast outlets.</li>
                        <li>Press release construction, storytelling and pitching to the press.</li>
                        <li>Identifying and working with key influencers and celebrities to reinforce brand image.</li>
                      </ul>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12"><h4 class="sub-heading">PR and Communications Intern, Depaul International, London, UK</h4></div>
                    <div class="col-xs-12"><h5> January 2014 – September 2014 </h5></div>
                    <div class="col-xs-12">
                      <ul>
                        <li>Responsible for creating and implementing an international social media strategy, focusing on best practice and impactful use of various channels across six countries.</li>
                      </ul>
                    </div>
									</div>
									
                  <h4 class="sub-heading"> Education </h4>
                  <hr>

                  <div class="row">
                    <div class="col-xs-12"><h4 class="sub-heading">MA, Hons Public Relations - University of Greenwich</h4></div>
                    <div class="col-xs-12"><h5> September 2013 – September 2014 </h5></div>
                    <div class="col-xs-12">
                      <ul>
                        <li>Graduated first in class.</li>
                        <li>Guest Lecture at the university on a regular basis.</li>
                      </ul>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12"><h4 class="sub-heading">BSc Hons. Human Geography and Town Planning - University of Cardiff</h4></div>
                    <div class="col-xs-12"><h5> September 2009 – July 2012 </h5></div>
                    <div class="col-xs-12">
                      <ul>
                        <li>2:1 Awarded</li>
                      </ul>
                    </div>
                  </div>

                  <div class="row">
                    <div class="col-xs-12"><h4 class="sub-heading">Churchill Academy and Sixth Form Centre</h4></div>
                    <div class="col-xs-12"><h5> September 2005 – May 2009 </h5></div>
                    <div class="col-xs-12">
                      <div><b>A-Levels:</b> English Language <b>(B)</b>, Geography <b>(B)</b>, Theatre Studies <b>(B)</b>, General Studies <b>(B)</b></div>
                      <div><b>GCSEs:</b> 11 ranging from <b>A*-B</b></div>
                    </div>
                  </div>

                  <div id="references">
                    <hr>
                      <h4 align="center"> REFERENCES AVAILABLE UPON REQUEST </h4>
                    <hr>
                  </div>

                  <div class="row">
                    <form method="get" action="public/cv-2017.docx">
                    <button id="download-cv" class="btn btn-primary btn-lg"> DOWNLOAD CV <i class="fa fa-arrow-down"></i> </button>
                    </form>
                  </div>

                </div>
            </div>
        </div>
    </section>
