<!-- Portfolio Grid Section -->
    <section id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="heading-primary">My Portfolio</h2>
                    <hr class="star-primary">
                </div>
            </div>
            <div class="portfolio-items" class="row">
                {% for post in site.categories.portfolio %}
                    <div class="col-sm-4 portfolio-item">
                        <a href="#{{ post.modalID }}" class="portfolio-link" data-toggle="modal">
                            <div class="caption">
                                <div class="caption-content">
                                    {{ post.title }}
                                </div>
                            </div>
                            <img src="/{{ post.img }}" class="img-responsive" alt="">
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
